* {
  background-color: black;
  color: #e75480;
}

main section {
  border-style: dotted;
  border-color: red;
  border-width: thin;
  border-radius: 25px;
}

.page-header {
  color: hsl(77, 80%, 20%);
  font-family: 'Potta One', cursive;
  border: 1ch solid white;
}

#icecream {
  background-color: green;
  color: hsla(77, 80%, 20%, .3);
}

p {
  font-weight: bold;
  color: red;
  font-size: 0.7cm;
}

a[target=_website] {
  font-size: 150%;
  background-color: yellow;
  color: red;
}

h2:hover {
  color: rgb(77, 7, 7);
  text-align: center;
  text-decoration: underline overline;
  font-size: 50mm;
}

ol, ul {
  font-size: 1.2em;
  color: rgba(77, 77, 7, 7);
}

figure > figcaption {
  display: none;
}
pre + p{
   color: blue;
}

label ~ p{
  color: yellow;
}
