* {
  background-color: black;
  color: #e75480;
}

main section {
  border-style: dotted;
  border-color: red;
  border-width: thin;
  border-radius: 25px;
}

.page-header {
  color: hsl(77, 80%, 20%);
  font-family: 'Potta One', cursive;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

#icecream {
  background-color: green;
  color: hsla(77, 80%, 20%, .3);
}

p {
  font-weight: bold;
  color: red;
  font-size: 0.7cm;
}

h1 {
  box-sizing: content-box;
  position: absolute;
  width: 300px;
  height: 100px;
  padding: 30px;  
  margin: 30px;
  border: 5px solid green;   
}
a[target=_website] {
  font-size: 150%;
  background-color: yellow;
  color: red;
  position:initial;
}

h2:hover {
  color: rgb(77, 7, 7);
  text-align: center;
  text-decoration: underline overline;
  font-size: 50mm;
}

ol, ul {
  font-size: 1.2em;
  color: rgba(77, 77, 7, 7);
}

figure > figcaption {
  display: none;
}

span {
  display: block;
}

section + label{
  color: yellow;
}

label ~ p{
  color: yellow;
  max-width: 20%;
  max-height: 0.5px;
}

nav.menu {
  box-sizing: content-box;
  margin-top: 1cm;
  margin-right: 1cm;
  margin-bottom: 1cm;
  margin-left: 1cm;
  padding-top: 1cm;
  padding-right: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
  border: 10px solid blue;   
}

